*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.title{
  color:red;
}

.form{
  display:block;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}